cache=/Users/gu/Documents/trae_projects/navicat/.npm-cache
electron_mirror=https://npmmirror.com/mirrors/electron/
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/
